{% load static %}
<!--Navigation-->
<nav class="sticky-top navbar navbar-expand-sm navbar-light topnav"> 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link textnav" href="{% url 'home' %}"><strong>Home</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link textnav" href="{% url 'profile' %}"><strong>Profile</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link textnav" href="{% url 'login' %}"><strong>Books</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link textnav" href="{% url 'subscribe' %}"><strong>Subscribe</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link textnav" href="{% url 'subscriber' %}"><strong>Subscribers</strong></a>
            </li>
        </ul>
    </div>
</nav>