{% extends 'layout/base.html' %}
{% load static %}
{% block judul %}Welcome{% endblock %}
{% block content %}
    
    <div id="page1" class="container-fluid">
        <div id="text_page1" class = "container">
            <div class=fonth1>
                <b><h1>Hello! How are you?</h1></b>
            </div>
            <div class=fonth5>
                <b><h5>Express your feelings in the form below!</h5></b>
            </div>
        </div>
    </div>
    <div id="page2" class="container-fluid">
        <div class = "padding">
            <br><br><br>
            <div id="text_page2">
                <h4>Insert your status here!</h4>
            </div>
            <br>
            <section>
                <form id="form1", method="POST", action="/fill_status/">
                    {% csrf_token %}
                    {{ status_form }}
                    <br>
                    <button type="submit", class="btn btn-primary">Submit</button>
                </form>
            </section>
        
            <br><br><br>         
            <section>
                <div id="text-form-page">
                    <h4>History of your status:</h4>
                </div>
                <br>
                    {% for field in statusku %}
                        <div class="result-box">
                            <p class="date"><i class="fas fa-calendar-alt"> </i>{{ field.created_at }}</p>
                            <p class="result-text"><i class="fas fa-comment-alt"></i>{{ field.message }}</p>
                        </div>
                    {% endfor %}
                <br><br><br>
            </section>
        </div>
    </div>

{% endblock %}