{% extends 'layout/base.html' %}
{% load static %}
{% block judul %}My Subscribers{% endblock %}
{% block content %}

<div id="form-page" class="container-fluid">
    <div class="form">
        <br><br><br>
        <div id="text-form">
            <h1><strong>List of Subscribers</strong></h1>
        </div>
        <div id="text-form2">
            <h5><strong>Are you one of them?</strong></h5>
        </div>
        <br><br>
        <table class="table table-responsive subs">
            <div id="table">
                <thead>
                    <tr id="text-col">
                        <th>Name</th>
                        <th>Email</th>
                        {% csrf_token %}
                        <th>Unsubscribe?</th>
                    </tr>
                </thead>
                <tbody id="subs-table"></tbody>
            </div>
        </table>
        <br><br>
    </div>
</div>

{% endblock %}