{% extends 'layout/base.html' %}
{% load static %}
{% block judul %}Login{% endblock %}
{% block content %}

{% csrf_token %}
<div id="form-page" class="container-fluid">
    <div class="form">
        <br><br><br><br><br><br><br>
        <div id="text-form" class="container_login">
            <h1><strong>Please Login to See Books Collections</strong></h1>
            <br>
            <div class="g-signin2" data-onsuccess="onSignIn" data-width="300" data-longtitle="true"></div>
        </div>
        <br><br><br><br><br><br><br>
    </div>
</div>

{% endblock %}