{% extends 'layout/base.html' %}
{% load static %}
{% block judul %}Subscribe Now{% endblock %}
{% block content %}

<div id="form-page" class="container-fluid">
    <div class="form">
        <br><br><br>
        <div id="text-form">
            <h1><strong>Subscription Form</strong></h1>
        </div>
        <div id="text-form2">
            <h5><strong>Be one of this website's Subscriber!</strong></h5>
        </div>
        <br><br>
        <div class="error-message"><p></p></div>
        <form id="form" method="POST">
            {% csrf_token %}
            {% for i in form %}
                <p class="label_tag">{{ i.label_tag }} <br> {{ i }}</p>
            {% endfor %}
            <br>
            <button id="submit-btn", type="submit", value="Submit", class="btn btn-dark" disabled>Subscribe</button>
        </form>
        <br><br><br>
    </div>
</div>

{% endblock %}