{% extends 'layout/base.html' %}
{% load static %}
{% block judul %}Books Collection{% endblock %}
{% block content %}

<div id="table-page" class="container-fluid">
    {% csrf_token %}
    <div class="table1">
        <table class="table table-responsive">
            <br><br><br>
            <div id="text-table">
                <h1><strong>Books Collection</strong></h1>
                <br><br>
            </div>
            <div id="text-fav">
                <h3>Hello, {{ name }}!</h3>
                <a id="logout" href="{% url 'logout' %}" onclick="signOut()">logout</a>
            </div>
            <br><br>
            <div id="text-fav">
                <h5><strong>Favorite Books: <span id="totalFav">0</span></strong></h5>
            </div>
            <div id="table">
                <thead>
                    <tr id="text-col">
                        <th>Image</th>
                        <th>Title</th>
                        <th>Published Date</th>
                        <th><img width="25" height="25" src="{% static 'fav-star.png' %}"></th>
                    </tr>
                </thead>
                <tbody id="books-table"></tbody>
            </div>
        </table>
        <br><br>
        <div id="text-fav">
            <h5><strong>Looking for another collections?</strong></h5>
        </div>
        <div id="btn-col">
            <button class="btn btn-dark submit" id="quilting">Quilting</button><span> </span>
            <span><button class="btn btn-dark submit" id="programming">Programming</button></span><span> </span>
            <span><button class="btn btn-dark submit" id="cooking">Cooking</button></span><span> </span>
            <span><button class="btn btn-dark submit" id="technology">Technology</button></span>
        </div>
        <br><br><br>
    </div>
</div>

{% endblock %}