html, body {
    margin: 0;
    padding: 0;
}


/* Nav-Bar */
.topnav {
    overflow: hidden;
    width: 100%;
    background-color: #FFFFFF;
    z-index: 10;
    top: 0;
}

.topnav2 {
    overflow: hidden;
    width: 100%;
    background-color: #2DAFA7;
    color: white;
    z-index: 10;
    top: 0;
}

.navbar-light .navbar-nav .nav-link {
    float: right;
    display: block;
    /* color: #000000; */
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
    font-family: KoHo;
}


/* Footer */
.flex-footer {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #696969;
}

.flex-footer2 {
    background-color: #159E96;
}

.socmed {
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-left: 50px;
    margin-bottom: 30px;
}

#contact-flex {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    font-family: KoHo;
    line-height: 30px;
    margin-top: 30px;
    margin-left: 50px;
}

.btn-light {
    background-color: whitesmoke;
    margin-right: 2rem;
    font-family: KoHo;
}

.flex-acc {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    flex-wrap: wrap; 
}


/* Story 6: Status Page */
#page1 {
    background-image: url("summit.jpg");
    opacity: 0.85;
    height: 610px;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#text_page1 {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.fonth1 {
    color:#000000;
    font-family: Pacifico
}

.fonth5 {
    color:#000000;
    font-family: KoHo;
}


.fonth12 {
    color:#008080;
    font-family: Pacifico
}

.fonth52 {
    color:#159E96;
    font-family: KoHo
}

#text_page1_1 {
    color:#000000;
    text-align: center;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#text_page2 {
    color:#000000;
    font-family: KoHo
}

.padding {
    padding-left: 20%;
    padding-right: 20%;
}

#page2 {
    background-image: linear-gradient(	#C0C0C0,#DCDCDC);
    opacity: 0.85;
    height: auto;
}

.form-page {
    padding-left: 15%;
    padding-right: 15%;
    position: absolute;
}

#text-form-page {
    color:#000000;
    font-family: KoHo
}

.result-box {
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 1rem;
    /* border: solid 1px black; */
    margin-bottom: 1rem;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    word-break: break-word;
}

.result-box:hover {
    transition: 0.5s;
    background-color: #DCDCDC;
    cursor: pointer;
}

.result-text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    font-family: KoHo;
    font-size: 18px;
}

#counter {
    color: #555555;
    margin-bottom: 0;
}

.text-field {
    width: 40rem;
    height: 3rem;
    border: solid 1px black;
    font-family: KoHo;
}

.counter-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fas {
    margin-right: 0.2rem;
}

@media screen and (max-width: 768px) {
    .text-field {
        width: 20rem;
    }

    .result-box {
        width: 100%;
    }

    .form-section {
        padding-left: 4%;
        padding-right: 4%;
    }

    body {
        height: 100vh;
    }

}


/* Profile Page */
#page3 {
    background-image: url("summit.jpg");
    opacity: 0.85;
    height: 610px;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 90px;
}

@media screen and (max-width: 768px) {
    .header1 {
        width: 100%;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}

.header1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #343F4B;
    height: 578px;
    text-align: left;
    /* padding: 200px; */
    width: 100%;
    margin-bottom: 100px;
}

.header1 h1 {
    color: #FFFFFF;
    font-size: 70px;
    font-weight: 300;
    line-height: 91px;
    margin-left: 70px;
}

.header1 h2 {
    color: #00A6FF;
    font-size: 25px;
    font-weight: 300;
    line-height: 45px;
    margin-left: 70px;
}

.flex-profile {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    flex-wrap: wrap; 
}

.personal-information {
    width: 700px;
    height: auto;
    background-color: #C0C0C0;
    margin-bottom: 45px;
}

.personal-information2 {
    width: 700px;
    height: auto;
    background-color: #008080;
}

.personal-information h3 {
    color: #000000;
    font-size: 30px;
    font-weight: 500;
    font-family: Pacifico;
    line-height: 40px;
    margin-top: 40px;
    margin-left: 70px;
}

.personal-information2 h3 {
    color: #E0FFFF;
    padding-left: 70px;
    margin-left: 0px;
}

.personal-information h5 {
    color: #696969;
    font-size: 20px;
    font-weight: 400;
    font-family: KoHo;
    line-height: 30px;
    margin-top: 30px;
    margin-left: 70px;
}

.personal-information2 h5 {
    color: #F0FFFF;
    padding-left: 70px;
    margin-left: 0px;
}

.img {
    margin-bottom: 45px; 
    height: 100%;
}

.image {
    width: 42vmax;  
    height: 100%;
}

@font-face {
    font-family: "JF Flat Regular";
    src: url('https://f9ir.github.io/acc/acc/font/JF-Flat-regular.eot');
    src: url('https://f9ir.github.io/acc/acc/font/JF-Flat-regular.eot?#iefix') format('embedded-opentype'), url('https://f9ir.github.io/acc/acc/font/JF-Flat-regular.svg#JF Flat Regular') format('svg'), url('https://f9ir.github.io/acc/acc/font/JF-Flat-regular.woff') format('woff'), url('https://f9ir.github.io/acc/acc/font/JF-Flat-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
}
.accordion {
    margin: 50px auto;
    width: 1200px;
    background: #fff;
    cursor: pointer;
}
.accordion .item {
    height: 100px;
}
.accordion .item h3 {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    padding-left: 50px;
    /* font-family: "JF Flat Regular"; */
    font-family: Pacifico;
    font-size: 23px;
    font-weight: 350;
}
.accordion .item img {
    padding-left: 20px;
    width: 50px;
    vertical-align: middle;
}
.accordion .item h3:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
.accordion .item:first-of-type {
    background: #808080;
    color: #000000;
}
.accordion .item:nth-of-type(2) {
    background: #A9A9A9;
    color: #000000;
}
.accordion .item:nth-of-type(3) {
    background: #D3D3D3;
    color: #000000;
}

.accordion p {
    font-family: KoHo;
    font-size: 18px;
    font-weight: 400;
    padding: 15px;
    display: none;
    box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.2);
}
.accordion p:first-of-type {
    background: #808080;
    color: #000000;
}
.accordion p:nth-of-type(2) {
    background: #A9A9A9;
    color: #000000;
}
.accordion p:nth-of-type(3) {
    background: #D3D3D3;
    color: #000000;
}

.accordion2 .item:first-of-type {
    background: #2DAFA7;
    color: #000000;
}
.accordion2 .item:nth-of-type(2) {
    background: #3FC6BD;
    color: #000000;
}
.accordion2 .item:nth-of-type(3) {
    background: #81D8D4;
    color: #000000;
}

.accordion2 p:first-of-type {
    background: #2DAFA7;
    color: #000000;
}
.accordion2 p:nth-of-type(2) {
    background: #3FC6BD;
    color: #000000;
}
.accordion2 p:nth-of-type(3) {
    background: #81D8D4;
    color: #000000;
}


/* Center the loader */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #000000;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
  
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
  
/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}
  
@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
}
  
@keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
}
  
#myDiv {
    display: none;
}


/* Story 9: Books Collection */
#header-page {
    background-image: url("summit.jpg");
    opacity: 0.85;
    height: 610px;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#text-header {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#table-page {
    background-image: linear-gradient(	#C0C0C0,#DCDCDC);
    opacity: 0.85;
    height: auto;
}

.table1 {
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
}

.table {
    padding-left: 10%;
    padding-right: 10%;
}

#text-table {
    color:#000000;
    font-family: Pacifico;
    text-align: center;
}

#text-col {
    color:#000000;
    font-family: KoHo;
    font-size: 20px;
}

#text-fav {
    color:#000000;
    font-family: KoHo;
    text-align: left;
    padding-left: 0.8rem;
}

.bttnn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 30px;
}

#btn-col {
    padding-left: 0.8rem;
}


/* Story 10: Subscribe Page */
#form-page {
    background-image: linear-gradient(	#C0C0C0,#DCDCDC);
    opacity: 0.85;
    height: auto;
}

.form {
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
}

#text-form {
    color:#000000;
    font-family: Pacifico;
    text-align: center;
}

#text-form2 {
    color:#000000;
    font-family: KoHo;
    text-align: center;
}

.success {
    color: green;
    font-size: 1.15rem;
    font-family: KoHo;
}

.fail {
    color: red;
    font-size: 1.15rem;
    font-family: KoHo;
}

.subs {
    padding-left: 31%;
    padding-right: 30%;
    align-items: center;
}

.container_login {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 6rem auto;
}
